* {
    font-family: Iosevka Nerd Font;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 0px;
    min-height: 0px;
}
window#waybar {
    background-color: #11111b;
    color: #cdd6f4;
    transition: background-color 0.3s ease;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0px 0px;
}


#workspaces button {
    padding: 0px 7px;
    margin: 0px;
    color: #cdd6f4;
    background-color: transparent;
    box-shadow: none;
}

#workspaces button.empty {
    color: #cdd6f4;
    opacity: 1.0;
}

#workspaces button:hover {
    color: #cdd6f4;
    opacity: 1;
    background: #313244;
}

#workspaces button.active {
    background: #181825;
    color: #cdd6f4;
}

#workspaces button.urgent {
    color: #cdd6f4;
    border-bottom: 2px solid alpha(#cdd6f4, 0.75);
    animation: blink 0.8s step-end infinite;
}

#window {
padding: 0px 5px;
}
#clock,
#custom-dnd,
#network,
#pulseaudio,
#backlight,
#battery,
#cpu,
#memory,
#tray {
padding: 0px 10px;
color: #cdd6f4;
}


#battery {
    background-color: alpha(@secondary, 1);
    border-radius: 0px;
    margin: 4px 0;
    padding: 0px 10px;
}

#battery.charging,
#battery.plugged {
    color: #cdd6f4;
}

#battery.warning:not(.charging) {
    color: alpha(#cdd6f4, 0.75);
}

#battery.critical:not(.charging) {
    color: #f9e2af;
    animation: blink 1s step-end infinite;
}

#cpu.warning,
#memory.warning {
color: #f9e2af;
}

#cpu.critical,
#memory.critical {
color: #f38ba8;
}

#pulseaudio.muted {
color: #f38ba8;
}

#network.disconnected {
    color: alpha(#cdd6f4, 0.40);
}

tooltip {
    background-color: #11111b;
    border: 1px solid alpha(#cdd6f4, 1);
    color: #cdd6f4;
}
